<!DOCTYPE html>
<html>
<head>
    <title>Pig Pocket|Transactions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
#cool,#cooler {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#cool td, #cooler td,#shop td {
    border: 1px solid #ddd;
    padding: 8px;
}

#cool tr:nth-child(even),#cooler tr:nth-child(even),#shop tr:nth-child(even){background-color: #f2f2f2;}

#cool tr:hover,#cooler tr:hover,#shop tr:hover {background-color: #ddd;}

#cool th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: palevioletred;
    color: white;
}
#shop th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: palevioletred;
    color: white;
}
 #cooler th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: plum;
    color: white;
}

</style>

</head>
<body onload="dec();nov()" onclick="dec();nov()">
    {% extends 'layout.html' %}
    {% block body %}

    <!-- Page Content -->

    <!-- Sidebar -->

        <div class="w3-container">
            <h2>Transaction type:</h2>
            <select id="type">
        <option value="All" id="All">All</option>
        <option value="Shopping" id="Shopping">Shopping</option>
        <option value="Leisure" id="Leisure">Leisure</option>
        <option value="Food" id="Food">Food</option>
        <option value="Rent" id="Rent">Rent</option>
        <option value="Bill" id="Bill">Bill</option>
            </select>

            <select id="time">
                <option value="Dec" id="Dec" selected>Dec 2017</option>
                <option value="Nov" id="Nov">Nov 2017</option>
            </select>

            <select id="price">
                <option value="date" id="date">Most Recent</option>
                <option value="low" id="low">Low to high</option>
                <option value="high" id="high">High to low</option>
            </select>

    <!---Results-->
    <div id="cool" style="display:none">
    <table border="1" style="border-collapse:collapse;margin:auto;width:80%;">

    <thead>Transaction for Dec 2017:</thead>
    <tr><th>Date:</th><th>Details</th><th>Price</th></tr>
    <tr><td>10 Dec 17</td><td>Topshop</td><td>$760.79</td></tr>
    <tr><td>8 Dec 17</td><td>Kopitiam</td><td>$5.50</td></tr>
    <tr><td>4 Dec 17</td><td>Shaw Theatre</td><td>$7.00</td></tr>
    <tr><td>2 Dec 17</td><td>Ajisen</td><td>$17.80</td></tr>
        <tr><td colspan="2">Total Spendings:</td><td>$791.09</td></tr></tr>

    </table>
    </div>

    <!--Shopping dec-->
    <div id="shop" style="display:none">
    <table border="1" style="border-collapse:collapse;margin:auto;width:80%;">
    <thead>Transaction for Dec 2017:</thead>
    <tr><th>Date:</th><th>Details</th><th>Price</th></tr>
    <tr><td>10 Dec 17</td><td>Topshop</td><td>$760.79</td></tr>
    <tr><td colspan="2">Total Spendings:</td><td>$760.79</td></tr></tr>

    </table>
    </div>

    <div id="cooler" style="display:none">
    <table border="1" style="border-collapse:collapse;margin:auto;width:80%">

    <thead>Transaction for Nov 2017:</thead>

    <tr><th>Date:</th><th>Details</th><th>Price</th></tr>
    <tr><td>18 Nov 17</td><td>Ezbuy</td><td>$159.84</td></tr>
    <tr><td>17 Nov 17</td><td>Zalora</td><td>$519.32</td></tr>
    <tr><td>5 Nov 17</td><td>Popular</td><td>$7.00</td></tr>
    <tr><td colspan="2">Total Spendings:</td><td>$686.16</td></tr>

    </table>
    </div>


        </div>
    <script>
    function dec(){
        var a = document.getElementById("time");
        var b = document.getElementById("type");
        var c=  document.getElementById("price");
    var strUser = a.options[a.selectedIndex].value;
    var User = b.options[b.selectedIndex].value;
    var Users = c.options[c.selectedIndex].value;
      if (strUser == "Dec" && User=="All" && Users=="date" ) {
          document.getElementById("shop").style.display="none";
          document.getElementById("cool").removeAttribute("style");
      }
      else if (strUser == "Dec" && User=="Shopping" && Users=="date" ) {
          document.getElementById("cool").style.display="none";
          document.getElementById("shop").removeAttribute("style"); }
      else
          { document.getElementById("cool").style.display = "none";
            document.getElementById("shop").style.display="none"
           }
      }

    function nov(){
        var a = document.getElementById("time");
        var b = document.getElementById("type");
        var c=  document.getElementById("price");
    var strUser = a.options[a.selectedIndex].value;
    var User = b.options[b.selectedIndex].value;
    var Users = c.options[c.selectedIndex].value;
      if (strUser == "Nov" && User=="All" && Users=="date" ) {
      document.getElementById("cooler").removeAttribute("style");
      }
      else { document.getElementById("cooler").style.display = "none"; }
      }
    </script>



      <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        </script>


<br><br><br><br><br><br><br><br><br><br>
    {% endblock %}
</body>
</html>


