body {
        font-family: "Lato", sans-serif;
    }

/*this is sidebar's css*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: pink;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/*this is the link inside the sidebar's css*/
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/*this one is when hovering on the links' css*/
.sidenav a:hover {
    color: #f1f1f1;
}

/*i think this one no need to care*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*this one no need care too*/
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#pt{
    text-align:center;
}

header{
    background-color: pink;
}
