<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/_navbar.css">
    <script type="text/javascript" src="/static/js/_navbar.js"></script>
</head>
<body>

    <div style="background-color: lightpink">
        <span style="font-size:30px;cursor:pointer; margin-left: 1%; margin-right: 85%" onclick="openNav()">&#9776;</span>

        <p id="pt"><img src="/static/images/Headings.png" width="20%" height="10%"></p>
    </div>


</body>
</html>
